{{ define "yield" }}
<h4 class="text-center mt-4">Campgrounds</h4>

<div class="container mb-4">
  {{ range . }}
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{ .Image }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{ .Name }}</h4>
      <p class="card-text">{{ .Description }}</p>
      <a href="/campground/{{ .Name }}" class="btn btn-primary stretched-link">See Campground</a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}